@model myproject.Models.Student
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Id = @Model.Id</p>
        <p>Name = @Model.Name</p>
        <p>Desc = @Model.Desc</p>
    </div>
   
</div>