@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>file Upload</h1>

</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="f" />
    <input type="submit" value="Upload" />
}
